
.container {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;
  
}

.table {
  flex: 100px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  margin-top: 5%;
  margin-left: -25%;
  width: 100%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  /* -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3); */
  text-align: center;
  
}
table {
  box-shadow: 0 19px 31px -4px rgba(0,0,0,0.1);
}

.abc{
  background-image: url("../../assets/img/login page.jpeg");
  height: 100%;

}