<div class="w-100 position-relative">
    <app-navbar></app-navbar>
</div>
<div class="abc" style="margin-top: -10%">
    <div class="contaier fluid" >
        <section class="feature_area p_85" id="demo">
            <br><br>
                <div class="keyss" style="margin-top: 10%">
                        <div class="row">

                <div class="col-lg-3 col-md-6">
                    <a href="http://aptahr.com" class="feature_item_con">
                        <div class="feature_item">
                            <span class="d-block">
                                <img src="../../assets/img/demo_one.png" alt="" style="max-width: 100%;">
                            </span>
                        </div>
                        <span class="d-block text-center">
                            <h4 class="ddd">AptaHR</h4>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="" class="feature_item_con">
                        <div class="feature_item">
                            <span class="d-block">
                                <img src="../../assets/img/aiila.png" alt="" style="max-width: 100%;">
                                <div class="overlay">

                                </div>
                            </span>
                        </div>
                        <span class="d-block text-center">
                            <h4 class="ddd">Aiila</h4>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="https://jobrocket.co.uk/" class="feature_item_con">
                        <div class="feature_item">
                            <span class="d-block">
                                <img src="../../assets/img/jobrocket.png" alt="" style="max-width: 100%;">
                                <div class="overlay">

                                </div>
                            </span>
                        </div>
                        <span class="d-block text-center">
                            <h4 class="ddd">Job Rocket</h4>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="https://teknovel.herokuapp.com/" class="feature_item_con">
                        <div class="feature_item">
                            <span class="d-block">
                                <img src="../../assets/img/teknovel.png" alt="" style="max-width: 100%;">
                                <div class="overlay">

                                </div>
                            </span>
                        </div>
                        <span class="d-block text-center">
                            <h4 class="ddd">Teknovel</h4>
                        </span>
                    </a>
                </div>
            </div>
                 </div>
              
                       
                <div class="keys" style="margin-top: 4%">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <a href="https://teknovel.herokuapp.com/" class="feature_item_con">
                                <div class="feature_item">
                                    <span class="d-block">
                                        <img src="../../assets/img/teknovel.png" alt="" style="max-width: 100%;">
                                        <div class="overlay">

                                        </div>
                                    </span>
                                </div>
                                <span class="d-block text-center">
                                    <h4 class="ddd">Teknovel</h4>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="https://jobrocket.co.uk/" class="feature_item_con">
                                <div class="feature_item">
                                    <span class="d-block">
                                        <img src="../../assets/img/jobrocket.png" alt="" style="max-width: 100%;">
                                        <div class="overlay">

                                        </div>
                                    </span>
                                </div>
                                <span class="d-block text-center">
                                    <h4 class="ddd">Job Rocket</h4>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="" class="feature_item_con">
                                <div class="feature_item">
                                    <span class="d-block">
                                        <img src="../../assets/img/aiila.png" alt="" style="max-width: 100%;">
                                        <div class="overlay">

                                        </div>
                                    </span>
                                </div>
                                <span class="d-block text-center">
                                    <h4 class="ddd">Aiila</h4>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="http://aptahr.com/" class="feature_item_con">
                                <div class="feature_item">
                                    <span class="d-block">
                                        <img src="../../assets/img/demo_one.png" alt="" style="max-width: 100%;">
                                        <div class="overlay">

                                        </div>
                                    </span>
                                </div>
                                <span class="d-block text-center">
                                    <h4 class="ddd">AptaHR</h4>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            
        </section>
    </div>
</div>